<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>จัดการสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item color="default" lines="none" p>
    <h2 style="margin-top: 10px;" padding-start>สินค้าในร้านของคุณ</h2>
    <ion-button color="success" slot="end" shape="round" size="default" href="AddProduct">
      <ion-icon slot="start" name="add"></ion-icon>
      เพิ่มสินค้า
    </ion-button>
  </ion-item>

  <ion-card *ngFor="let product of products" padding>
    <ion-item href="products/{{ product.id }}" lines="none">
      <ion-img slot="start" style="height: 80px; width: 80px;" [src]="product.product.logo"></ion-img>
      <ion-card-content style="padding: 10px 5px;">
        <h2>{{ product.product.name }}</h2><br>
        <h2 class="text-grey">ราคา: {{ product.product.listPrice }} บาท</h2>
      </ion-card-content>
      <h6 slot="end" class="text-grey">แก้ไข</h6>
    </ion-item>
  </ion-card>

</ion-content>