
.textH1 {
    font-size: 21px;
}

.textSize{
    font-size: 17px;
}
.textWait{
    font-size: 17px;
    background: white;
    color: grey;
}
.printButton{
    color:grey !important;
    background:none !important;
    border: none !important;
    font-size: 17px;
}
//  .padding{
//      padding-left: 20px;
//  }
