<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="md-arrow-back" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>รายการสั่งซื้อสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h2 style="margin-top: 10px;" padding-start>รายละเอียดรายการสั่งซื้อ</h2>

  <ion-card>

    <ion-item>
      <h3 no-padding no-margin class="text-header">รายการสินค้า</h3>
      <ion-label text-end>รหัสสั่งซื้อ {{ order?.Id.split("-", 1) }}</ion-label>
    </ion-item>

    <ion-card-content style="padding: 0px">
      <ion-item *ngFor="let product of order?.ProductItems">

        <ion-row>
          <ion-col size="1.5" align-self-startc padding>
            <ion-img [src]="product.Product.Logo"></ion-img>
          </ion-col>
          <ion-col align-self-center padding>
            <h1 style="margin-bottom: 0px;" class="textH1">{{ product.Name }}</h1>
            <ion-row class="text-darkgrey">
              ราคา: {{ product.Price | currency:'':'' }} บาท
            </ion-row>
            <ion-row class="text-darkgrey">
              จำนวน: {{ product.Quantity }}
            </ion-row>
          </ion-col>
          <ion-col size="3" align-self-center text-end padding >
            <ion-label (click)="shippingStatus()" class="textWait" >รอจัดส่ง</ion-label>
          </ion-col>
        </ion-row>

      </ion-item>

      <ion-item>
        <button padding size="default" class="printButton" >
          <ion-icon slot="start" name="md-print"></ion-icon>
          ปริ้นใบจัดส่งสินค้า
        </button>
        <ion-img slot="end" style="height: 100px; width: 100px;" src="assets/track_trace.png"></ion-img>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <!-- new -->
  <ion-card padding>
    <ion-row align-self-center>
      <ion-col class="text-black">
        <h3 no-padding no-margin class="text-header">สรุปยอดรวมทั้งสิ้น</h3>
      </ion-col>
      <ion-col text-end class="text-green">
        <h3 no-padding no-margin class="text-header">{{ order?.GrandTotal | currency:'':''}} บาท</h3>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card padding>
    <ion-row align-self-center>
      <ion-col size="3" align-self-center class="text-black">
        <h3 no-padding no-margin class="text-header">ที่อยู่ในการจัดส่ง</h3>
      </ion-col>
      <ion-col text-start class="textSize">
        <p>
          {{ order?.BillingAddress.ReceiverName }}
          {{ order?.ShippingAddress.Line1 }}
          {{ order?.ShippingAddress.Line2 }}
          {{ order?.ShippingAddress.Province }}
          {{ order?.ShippingAddress.ZipCode }}
        </p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card padding>
    <ion-row align-self-center>
      <ion-col size="3" align-self-center class="text-black">
        <h4 no-padding no-margin class="text-header">ที่อยู่ในการออกใบกำกับภาษี</h4>
      </ion-col>
      <ion-col text-start class="textSize">
        <p>
          {{ order?.BillingAddress.ReceiverName }}
          {{ order?.BillingAddress.Line1 }}
          {{ order?.BillingAddress.Line2 }}
          {{ order?.BillingAddress.Province }}
          {{ order?.BillingAddress.ZipCode }}
        </p>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-button color="success" expand="block" href="store" padding>ส่งแล้ว</ion-button>
  <!-- <ion-card>
    <ion-item>
      <ion-label>สรุปยอดรวมทั้งสิ้น</ion-label>
    </ion-item>

    <ion-card-content style="padding: 8px">
      <ion-grid>
        <ion-row>
          <ion-col> ยอดสินค้า </ion-col>
          <ion-col text-end class="text-green">
            {{ order?.GrandTotal }} บาท
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>ค่าจัดส่ง</ion-col>
          <ion-col text-end class="text-green">
            {{ order?.ShippingMethod.ShippingFees }} บาท
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>ที่อยู่ในการจัดส่ง</ion-label>
    </ion-item>
    <ion-card-content>
      <p>
        {{ order?.ShippingAddress.ReceiverName }}<br />
        {{ order?.ShippingAddress.Line1 }}<br />
        {{ order?.ShippingAddress.Line2 }}<br />
        {{ order?.ShippingAddress.Province }}<br />
        {{ order?.ShippingAddress.ZipCode }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>ที่อยู่ในการออกใบกำกับภาษี</ion-label>
    </ion-item>
    <ion-card-content>
      <p>
        {{ order?.BillingAddress.ReceiverName }}<br />
        {{ order?.BillingAddress.Line1 }}<br />
        {{ order?.BillingAddress.Line2 }}<br />
        {{ order?.BillingAddress.Province }}<br />
        {{ order?.BillingAddress.ZipCode }}
      </p>
    </ion-card-content>
  </ion-card> -->
</ion-content>