<ion-header>
  <ion-toolbar>
    <ion-title>ตั้งค่า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card padding>
    <ion-item lines="none">
      <ion-card-content style="padding: 10px 5px;">

        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>ตั้งค่ารายการเริ่มต้น</h1>
            </ion-col>
            <ion-col>
              <ion-button color="success" (click)="SetData()">เพิ่มข้อมูล</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-item>
  </ion-card>

</ion-content>