<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header text-center>
        <!-- <ion-toolbar no-padding> -->
          <ion-item lines="none" padding> 
            <ion-img slot="start" style="height: 30px; width: 60px;" src="assets/icon/shop.png"></ion-img>
            <ion-text>สหกรห์การเกษตร</ion-text>
          </ion-item>
        <!-- </ion-toolbar> -->
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
              <ion-badge color="danger" [hidden]="p.title !== 'รายการสั่งซื้อสินค้า' || newOrders === 0">{{ newOrders }}</ion-badge>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main ></ion-router-outlet>
  </ion-split-pane>
</ion-app>
