// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-toolbar {
  --background: #479e59;
  --color: white;
}

ion-content{
  --background: #e5e4ec
}

ion-card{
  --background: #ffffff !important;
  margin: 10px 20px !important;
}

ion-card-content {
  --background: #ffffff;
}

.text-grey{
  color: #8a8d97;
}

.text-darkgrey{
  color: #7c7e83;
}

.text-green{
  color:#58B957 ;
}

.text-dark-green{
  color: #00A151
}

.text-header{
  font-size: 20px !important;
}