<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>บัญชี</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h2 style="margin-top: 10px;" padding-start>ยอดขายของร้าน</h2>

  <ion-card>
    <ion-item color="success">
      <ion-col text-end>
        <ion-list>
          <ion-item color="success" class="textSelect">
            <ion-label class="text-header">ยอดขายประจำเดือน</ion-label>
            <ion-select interface="popover" lines="none" placeholder="เลือก เดือน-ปี" [(ngModel)]="date" (ionChange)="onChange($event)">
              <ion-select-option value="11-2018">พฤศจิกายน 2018</ion-select-option>
              <ion-select-option value="12-2018">ธันวาคม 2018</ion-select-option>
              <ion-select-option value="1-2019">มกราคม 2019</ion-select-option>
              <ion-select-option value="2-2019">กุมภาพันธ์ 2019</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-item>

    <ion-card-content>

      <ion-list>
        <ion-item lines="none" style="float:right;" class="text-green">
          <b class="text-header">{{ balance }} บาท</b>
        </ion-item>
      </ion-list>
      <br>
      <ion-list>
        <ion-item *ngFor="let bill of bills">
          <ion-col size="12">
            <ion-label text-right>{{ convertDate(bill.checkOutDate) }}</ion-label>
            <br>
            <div>
              <b>เลขที่ใบสั่งซื้อ: {{ bill?.orderId.split('-', 1) }}</b>
              <span style="float:right;">
                <b> {{ bill?.totalAmount }} บาท </b>
              </span>
            </div>
          </ion-col>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>