<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>บัญชี</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h2 style="margin-top: 10px;">ยอดขายของร้าน</h2>

  <!-- <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>รวมยอดขายทั้งหมด</ion-label>
        <div text-right>xxxx บาท</div>
      </ion-item>
    </ion-card-content>
  </ion-card> -->
  <ion-card class="cardBG">
    <ion-item>
      <ion-col>
        <b>ยอดขายประจำเดือน</b>
      </ion-col>
      <ion-col text-end>
        มกราคม
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none" style="float:right;" class="text">
          <span>
            <b>25000 บาท</b>
          </span>
        </ion-item>
      </ion-list>

      <br>

      <ion-list>
        <ion-item *ngFor="let bill of bills">
          <ion-col size="12">
            <ion-label text-right>10 ม.ค. 2562</ion-label>
            <br>
            <div>
              <b>เลขที่ใบสั่งซื้อ: {{ bill?.orderId.split('-', 1) }}</b>
              <span style="float:right;">
                <b> {{ bill?.totalAmount }} บาท </b>
              </span>
            </div>
          </ion-col>

          <!-- <ol class="mylist">
                <li *ngFor="let item of bill.items">{{ item }}</li>
              </ol> -->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>